[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
psycopg = "*"
dj-database-url = "*"
atproto = "*"
python-dotenv = "*"
sentry-sdk = {extras = ["django"], version = "*"}
uvloop = "*"
websockets = "*"
zstandard = "*"

[dev-packages]
djlint = "*"
pytest-django = "*"
pylint-django = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"
