[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
psycopg = "*"
dj-database-url = "*"
atproto = "*"
python-dotenv = "*"

[dev-packages]
djlint = "*"
pytest-django = "*"
pylint-django = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
